name: device-management-service

services:
  postgres:
    image: postgres:15.15-alpine3.22
    container_name: device-management-service-postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-devices_db}
      POSTGRES_USER: ${POSTGRES_USER:-devices_user}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-devices_password}
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 20
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
    name: postgres_data
